<!-- ========== MAIN ========== -->
<main id="content" role="main">
  <!-- Breadcrumb Section -->
  <div class="bg-primary">
    <div class="container space-1">
      <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
        <div class="mb-3 mb-sm-0">
          <!-- Breadcrumb -->
          <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
            <li class="breadcrumb-item">
              <span class="breadcrumb-link">Accueil</span>
            </li>
            <li class="breadcrumb-item">
              <span class="breadcrumb-link">Mon profil</span>
            </li>
          </ol>
          <!-- End Breadcrumb -->
        </div>

        <!-- Profile buttons -->
        <div>
          <%= link_to "Editer mon profil", edit_employee_profile_path, class: "btn btn-sm btn-soft-white transition-3d-hover" %>
          <%= link_to "Se déconnecter", destroy_employee_session_path, method: :delete, class: "btn btn-sm btn-soft-white transition-3d-hover" %>
        </div>
        <!-- End Profile buttons -->

      </div>
    </div>
  </div>
  <!-- End Breadcrumb Section -->

  <!-- Content Section -->
  <div class="bg-light">
    <div class="container space-2">
      <div class="row">
        <!-- Aside cards -->
        <div class="col-lg-3 mb-7 mb-lg-0">
          <!-- Profile Card -->
          <div class="card p-1 mb-4">
            <div class="card-body text-center">
              <div class="mb-3 mt-3">
                <center>
                  <div class="u-lg-avatar position-relative mb-3 mb-sm-0">
                    <%= image_tag "Default-Profile-Male.jpg", class:"img-fluid rounded-circle ml-2 mx-auto d-block", alt:"Default Employee Profile Picture" %>
                  </div>   
                  <h1 class="mt-3 h6 font-weight-medium mb-0"><%= @employee_profile.first_name %> <%= @employee_profile.last_name %></h1>
                </center>
              </div>
            </div>
          </div>
          <!-- End Profile Card -->

          <!-- Profile informations -->
          <div class="card mb-4 pb-3">
            <div class="card-header pt-4 pb-3 px-0 mx-4">
              <h3 class="h6 mb-0">Profil</h3>
            </div>

            <div class="card-body pt-3 pb-4 px-4">
              <!-- Profile information -->
              <div class="media">
                <span class="fas fa-envelope list-group-icon mr-3"></span>
                <div class="media-body text-lh-sm">
                  <span class="d-block mb-1">Email : 
                  <small class="text-secondary"><%= @employee_profile.employee.email %></small></span>
                </div>
              </div>
              <!-- End Profile information -->
            </div>  
            <div class="card-body pt-2 pb-4 px-4">
              <!-- Profile information -->
              <div class="media">
                <span class="fas fa-building list-group-icon mr-3"></span>
                <div class="media-body text-lh-sm">
                  <span class="d-block mb-1">Entreprise : 
                  <span class="text-secondary"><%= @employee_profile.employee.company.company_profile.name %></span></span>
                </div>
              </div>
              <!-- End Profile information -->
            </div> 
            <div class="card-body pt-2 pb-4 px-4">
              <%= link_to "Editer mon profil", edit_employee_profile_path %>     
            </div>
          </div>
          <!-- End Profile informations -->
        </div>
        <!-- End Aside cards -->

        <div class="col-lg-9">
          <!-- User Details -->
          <div class="mb-4">
            <h2 class="h4">Espace salarié</h2>
          </div>
          <!-- End User Details -->

          <!-- Info -->
          <div class="mb-4">
            <% if @employee_profile.first_name == nil %>
              <p>Vous n'avez pas encore précisé votre nom. <br/>Vous pouvez le faire via la rubrique 
                <%= link_to "Editer mon profil", edit_employee_profile_path %>
              </p>
            <% end %>
          </div>
          <!-- End Info -->

          <hr class="my-7">

          <h2 class="h4">Les réservations de mon entreprise :</h2>
            <% if @employee_profile.employee.company.events == nil %>
              <p>Votre entreprise n'a aucune réservtation de prévue pour le moment.</p>
            <%else%>
              <div class="row mt-md-5">
            <% @employee_profile.employee.company.events.each do |event|%>
            <div class="card w-100 mb-5">
              <div class="card-body">
                <h5 class="card-text mb-3"><%= event.title %></h5>
                <p>Masseur : <span class="text-dark"><%= MasseurProfile.find(event.masseur).first_name %> <%= MasseurProfile.find(event.masseur).last_name %></span></p>
                <p>Description : <span class="text-dark"><%= event.description %></span></p>
                <p>Moment : <span class="text-dark"><%= event.moment %></span></p>
                <p>Nombre de salariés inscrits : <span class="text-dark"><%= event.participating_employees.count %></span></p>
                <p class="mb-5">Nombre de participants maximum : <span class="text-dark"><%= event.maximum_number_of_participation %></span><br/></p>
                <center>
                  <%if event.participating_employees.count < event.maximum_number_of_participation && event.participating_employees.exclude?(@employee_profile.employee.email) %>
                    <%= link_to "Participer à l'évènement", company_event_path(current_employee.company, event, event: {title: event.title, description: event.description, maximum_number_of_participation: event.maximum_number_of_participation, moment: event.moment}), method: :put, class: "btn btn-success" %>
                  <% elsif event.participating_employees.include?(@employee_profile.employee.email)%>
                    <p class="text-info">Vous êtes inscrit.</p>
                  <%else%>
                    <p class="text-danger">- Cet événement est complet. -</p>
                  <%end%>
                </center>
              </div>
            </div>
            <% end %>
            <%end%>
          <hr class="my-7">

        </div>
      </div>
    </div>
  </div>
  <!-- End Content Section -->
</main>
<!-- ========== END MAIN ========== -->
