<!-- ========== MAIN ========== -->
<main id="content" role="main">
  <!-- Form -->
  <div class="d-flex align-items-center position-relative height-lg-100vh">
    <div class="col-lg-5 col-xl-4 d-none d-lg-flex align-items-center gradient-half-primary-v1 height-lg-100vh px-0">
      <div class="w-100 p-5">
        <h1 class="w-md-80 w-lg-60 text-center mx-auto text-white mb-6">Inscription</h1>
        <hr class="my-7 ml-8 mr-8">
          <!-- Testimonials -->
          <div class="w-md-70 w-lg-70 text-center mx-auto">
            <blockquote class="h5 text-white font-weight-normal mb-8 font-italic">
              Inscrivez-vous et laissez-vous transporter par l'expérience <span class="font-weight-bold">Reliev</span>.
            </blockquote>
          </div>    
      </div>
    </div>
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 space-3 space-lg-0">

            <!-- Title -->
            <div class="mb-7">
              <h1 class="h3 text-primary font-weight-normal mb-0">Bienvenue sur <span class="font-weight-semi-bold">Reliev</span></h1>
              <p>Quand travailler est un plaisir.</p>
            </div>
            <!-- End Title -->

            <!-- Form Group -->
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="js-form-message form-group">
                <div class="field">
                  <%= f.label :email, class: "form-label"%>
                  <%= f.email_field :email, class: "form-control", placeholder: "Adresse email", autofocus: true, autocomplete: "email" %>
                </div>
              </div>
              <!-- End Form Group -->

              <!-- Form Group -->
              <div class="js-form-message form-group">
                <div class="field">
                  <%= f.label :mot_de_passe, class: "form-label" %>
                  <%= f.password_field :password, class: "form-control", placeholder: "********", autocomplete: "new-password" %>
                </div>
              </div>
              <!-- End Form Group -->

              <!-- Form Group -->
              <div class="js-form-message form-group">   
                <div class="field">
                  <%= f.label :confirmation_du_mot_de_passe, class: "form-label" %>
                  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "********", autocomplete: "new-password" %>
                </div>
              </div>
              <!-- End Form Group -->

              <!-- Button -->
              <div class="row align-items-center mb-5">
                <div class="col-5 col-sm-6">
                  <span class="small text-muted">Déjà un compte?</span>
                  <%= link_to "Connexion", session_path(resource), class: "small" %>
                </div>

                <div class="col-7 col-sm-6 text-right">
                  <div class="actions">
                    <%= f.submit "Commencer", class: "btn btn-primary transition-3d-hover" %>
                  </div>
                </div>
              </div>
              <!-- End Button -->
            <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- End Form -->
</main>
<!-- ========== END MAIN ========== -->

