<% if @masseur_profiles.any? %> 
  <% @masseur_profiles.each do |masseur| %>
    <div class="col-6">
      <div class="card mb-4 p-3">
        <div class="card-body">
          <h4 class="card-title"><%= masseur.first_name %> <%= masseur.last_name %></h5>
          <p class="card-text">Description : <span class="text-dark"><%= masseur.description %></span> </p>
          <p class="card-text">Ville :<span class="text-dark"> <%= masseur.working_place %></span></p>
          <p class="card-text">Tarif : <span class="text-dark"><%= masseur.pricing %> € </span></p>
          <p class="card-text">Type de massage proposés :<span class="text-dark"> 
            <% masseur.massage_types.each do |massage_type| %> 
              <br><span class="ml-2 mt-2">• <%= massage_type %></span>
            <% end %>
            </span>
          </p>
          <p class="card-text">Disponibilités :<span class="text-dark"> 
            <% masseur.time_slots.each do |slot| %> 
              <br><span class="ml-2">• <%= slot %></span>
            <% end %>
            </span>
          </p>
          <% if current_company %>
            <%= link_to "Faire une réservation", new_event_path, class: "btn btn-success btn-sm float-right" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <h4 class="mt-md-10 mb-md-10">Aucun masseur ne correspond à votre recherche</h4>
<% end %>
