<% if @masseur_profiles.any? %> 
  <% @masseur_profiles.each do |masseur| %>
    <div class="col-md-6 col-sm-12">
      <div class="card mb-4 p-md-5" id="masseur-card">
        <div class="card-body">
          <h4 class="card-title mb-4"><%= image_tag("Default-Profile-Male.jpg", class: "rounded", style: "width: 20%")%><span class="ml-3 align-top"><%= masseur.first_name %> <%= masseur.last_name %></span></h4>
          <p class="card-text">Description : <span class="text-dark"><%= masseur.description %></span> </p>
          <p class="card-text">Ville :<span class="text-dark"> <%= masseur.working_place %></span></p>
          <p class="card-text">Tarif de la séance : <span class="text-dark"><%= masseur.pricing %> € </span></p>
          <p class="card-text">Type(s) de massage proposés :<span class="text-dark"> 
            <% masseur.massage_types.each do |massage_type| %> 
              <br><span class="ml-2 mt-2">• <%= massage_type %></span>
            <% end %>
            </span>
          </p>
          <p class="card-text">Disponibilité(s) :<span class="text-dark"> 
            <% masseur.time_slots.each do |slot| %> 
              <br><span class="ml-2">• <%= slot %></span>
            <% end %>
            </span>
          </p>
          <% if current_company %>
            <%= link_to "Faire une réservation", new_company_event_path(current_company, masseur_profile_id: masseur.id), class: "btn btn-success btn-sm float-right" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <h4 class="mt-md-10 mb-md-10">Aucun masseur ne correspond à votre recherche</h4>
<% end %>
