<!-- ========== MAIN ========== -->
<main id="content" role="main">
  <!-- Breadcrumb Section -->
  <div class="bg-primary">
    <div class="container space-top-1 pb-3">
      <div class="row">
        <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
          <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
            <!-- Breadcrumb -->
            <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
              <li class="breadcrumb-item">
                <%= link_to "Accueil", root_path, class: "breadcrumb-link" %>
              </li>
              <li class="breadcrumb-item">
                <%= link_to "Voir les masseurs", masseur_profiles_path, class: "breadcrumb-link" %>
              </li>
            </ol>
            <!-- End Breadcrumb -->
          </div>
        </div>
        <div class="col-lg-7 order-lg-1">
          <!-- Page name -->
          <h1 class="h2 text-white font-weight-medium mb-1">Nos masseurs</h1>
          <!-- End Page name -->
        </div>
      </div>
    </div>

    <div class="container space-bottom-1 space-bottom-lg-0 pb-3">
      <div class="d-lg-flex justify-content-lg-between align-items-lg-center pb-5">
        <!-- Blue section -->
        <div class="u-header u-header--bg-transparent-lg z-index-4">
          <p class="h4 text-white font-weight-medium mb-1">Critères de recherche : <br></p>
          <!-- Show wanted masseurs -->
          <p class="text-white ml-3" id="search-term"><p>
          <div class="u-header__section bg-transparent">
              <div class="one-line-display">

                <%= form_with url: masseur_profiles_path, method: :get do |f| %>
                <ul>
                  <!-- Massage types selection -->
                  <li>
                    <div class="dropdown">
                      <a class="btn dropdown-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Type(s) de massage(s)
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <% MasseurProfile::MASSAGE_TYPES.each do |massage_type| %>
                            <p class="dropdown-item">
                              <%= f.check_box(:query, {:multiple => true}, massage_type, nil) %><span> </span>
                              <%= massage_type %><br>
                            </p>
                        <% end %>
                      </div>
                    </div>
                  </li>
                  <!-- End Massage types selection -->

                  <!-- Massage place selection -->
                  <li>
                    <div class="dropdown">
                      <a class="btn dropdown-toggle text-light mr-md-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ville
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <% MasseurProfile::WORKING_PLACES.each do |working_place| %>
                          <p class="dropdown-item">
                            <%= f.check_box(:query, {:multiple => true}, working_place, nil) %><span> </span>
                            <%= working_place %><br>
                          </p>
                        <% end %>
                      </div>
                    </div>
                  </li>
                  <!-- End Massage place selection -->

                  <!-- Submit button -->
                  <li id="btns">
                    <span> </span>
                    <%= f.submit "Rechercher", class: 'btn btn-sm btn-soft-white transition-3d-hover mr-md-2' %>
                  </li>
                  <!-- End Submit button -->
                </ul>
                <% end %>                
              </div>
          </div>
          <!-- End Show Masseurs filter -->
        </div>
        <!-- End Blue section -->
      </div>
    </div>
  </div>
  <!-- End Breadcrumb Section -->
  <div class="bg-light">
    <div class="container space-2">
      <!-- display all cards -->
      <div class="row" id="masseurs">
        <%= render "masseurs_card" %>
      </div>
    <!-- end display all cards -->
    </div>
  </div>
  <!-- end content section -->
</main>
</main>

<!-- ========== END MAIN ========== -->
