<!-- ========== MAIN ========== -->
<main id="content" role="main">
  <!-- Breadcrumb Section -->
  <div class="bg-primary">
    <div class="container space-1">
      <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
        <div class="mb-3 mb-sm-0">
          <!-- Breadcrumb -->
          <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
            <li class="breadcrumb-item">
              <%= link_to "Accueil", root_path, class: "breadcrumb-link" %>
            </li>
            <li class="breadcrumb-item">
              <%= link_to "Mon Profil", 'javascript:;', class: "breadcrumb-link" %>
            </li>
          </ol>
          <!-- End Breadcrumb -->
        </div>

        <!-- Edit Profile -->
        <%= link_to "Editer mon profil", edit_masseur_profile_path, class: "btn btn-sm btn-soft-white transition-3d-hover" %>
        <!-- End Edit Profile -->
      </div>
    </div>
  </div>
  <!-- End Breadcrumb Section -->

  <!-- Content Section -->
  <div class="bg-light">
    <div class="container space-2">
      <div class="row">
        <div class="col-lg-3 mb-7 mb-lg-0">
          <!-- Profile Card -->
          <div class="card p-1 mb-4">
            <div class="card-body text-center">
              <div class="mb-3">
              </div>

              <div class="mb-3">
                <% if (@masseur_profile.first_name == nil) || (@masseur_profile.last_name == nil) || (@masseur_profile.description == nil) || (@masseur_profile.working_place == nil) || (@masseur_profile.massage_types == nil) || (@masseur_profile.time_slots == nil) || (@masseur_profile.pricing == nil) %>
                <p>Vous n'avez pas encore précisé le nom de votre nom. <br/>Vous pouvez le faire via la rubrique 
                  <%= link_to "Editer mon profil", edit_masseur_profile_path %>
                </p>
              <% else %>
                <h1 class="h6 font-weight-medium mb-0"><%= @masseur_profile.first_name %> <%= @masseur_profile.last_name %></h1>
                <small class="d-block text-muted"><%= ["Masseur", "Kiné"].sample %></small>
              <% end %>
              </div>
            </div>
          </div>
          <!-- End Profile Card -->

          <!-- Availabilities  -->
          <div class="card mb-4">
            <div class="card-header pt-4 pb-3 px-0 mx-4">
              <h2 class="h6 mb-0">Disponibilité(s)</h2>
            </div>

            <div class="card-body pt-3 pb-4 px-4">
              <!-- Availability -->
              <% @masseur_profile.time_slots.each do |time_slot| %>
              <a class="d-flex align-items-start mb-4" href="#">
                <div class="ml-3">
                  <span class="d-block text-dark"><%= time_slot %></span>
                </div>
              </a>
              <% end %>
              <!-- End Availability -->
            </div>
          </div>
          <!-- End availabilities  -->

          <!-- Social Profiles -->
          <div class="card mb-4">
            <div class="card-header pt-4 pb-3 px-0 mx-4">
              <h3 class="h6 mb-0">Réseaux sociaux</h3>
            </div>

            <div class="card-body pt-3 pb-4 px-4">
              <!-- Social Profiles -->
              <a class="media mb-4" href="#">
                <div class="u-sm-avatar mr-3">
                  <i class="fab fa-twitter-square"></i>
                </div>
                <div class="media-body">
                  <span class="d-block text-dark">Twitter</span>
                  <small class="d-block text-secondary">2.7k followers</small>
                </div>
              </a>
              <!-- End Social Profiles -->

              <!-- Social Profiles -->
              <a class="media" href="#">
                <div class="u-sm-avatar mr-3">
                  <i class="fab fa-facebook-square"></i>
                </div>
                <div class="media-body">
                  <span class="d-block text-dark">Facebook</span>
                  <small class="d-block text-secondary">3k followers</small>
                </div>
              </a>
              <!-- End Social Profiles -->
            </div>
          </div>
          <!-- End Social Profiles -->
        </div>

        <div class="col-lg-9">
          <!-- User Details -->
          <div class="mb-4">
            <h2 class="h4">Bonjour <%= @masseur_profile.first_name %> <%= @masseur_profile.last_name %> <span class="badge badge-success ml-1">Pro</span></h2>
            <h1></h1>
            <h4 class="h6 text-secondary mb-0"><%= @masseur_profile.working_place %><small>- Joined in July 2017</small></h4>
          </div>
          <!-- End User Details -->

          <!-- Info -->
          <div class="mb-4">
            <p>Description : <br/><%= @masseur_profile.description %></p>
            <h6>Tarif : <%= @masseur_profile.pricing %></h6>

          </div>
          <!-- End Info -->

          <!-- Collections -->
          <ul class="list-inline d-flex align-items-center">
            <li class="list-inline-item mb-3 mb-sm-0 mr-5">
              <div class="d-flex align-items-center">
                <span class="bg-warning text-white font-weight-medium rounded py-2 px-3 mr-2"><%= rand(0..400)%></span>
                <div class="text-secondary">
                  Vues
                </div>
              </div>
            </li>
            <li class="list-inline-item mb-3 mb-sm-0 mr-5">
              <div class="d-flex align-items-center">
                <div class="text-secondary">
                  +3 Recommandations
                </div>
              </div>
            </li>
          </ul>
          <!-- End Collections -->

          <hr class="my-7">

          <!-- Icon Blocks -->
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <!-- List Group -->
              <ul class="list-group list-group-transparent list-group-flush list-group-borderless mb-0">
                <li class="list-group-item pt-0 pb-4">
                  <div class="media">
                    <span class="fas fa-envelope list-group-icon mr-3"></span>
                    <div class="media-body text-lh-sm">
                      <span class="d-block mb-1">Email:</span>
                      <a href="#"><%= @masseur_profile.masseur.email %></a>
                    </div>
                  </div>
                </li>
                <li class="list-group-item pt-0 pb-4">
                  <div class="media">
                    <span class="fas fa-map-marker-alt list-group-icon mr-3"></span>
                    <div class="media-body text-lh-sm">
                      <span class="d-block mb-1">Secteur d'activité :</span>
                      <a href="#"><%= @masseur_profile.working_place %>, France</a>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- End List Group -->
            </div>

            <div class="col-md-6 col-lg-4">
              <!-- List Group -->
              <ul class="list-group list-group-transparent list-group-flush list-group-borderless mb-0">
                <li class="list-group-item pt-0 pb-4">
                  <div class="media">
                    <span class="fas fa-birthday-cake list-group-icon mr-3"></span>
                    <div class="media-body text-lh-sm">
                      <span class="d-block mb-1">Birthday:</span>
                      <span class="d-block text-muted">May 3, 1986</span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item pt-0 pb-4">
                  <div class="media">
                    <span class="fas fa-mobile-alt list-group-icon mr-3"></span>
                    <div class="media-body text-lh-sm">
                      <span class="d-block mb-1">Phone number:</span>
                      <a href="#">+336 06 00 00 10</a>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- End List Group -->
            </div>

            <div class="col-md-6 col-lg-4">
              <!-- List Group -->
              <ul class="list-group list-group-transparent list-group-flush list-group-borderless mb-0">
                <li class="list-group-item pt-0 pb-4">
                  <div class="media">
                    <span class="fas fa-globe list-group-icon mr-3"></span>
                    <div class="media-body text-lh-sm">
                      <span class="d-block mb-1">Langues parlées:</span>
                      <span class="d-block text-muted"><%= ["Français", "Anglais"].sample %></span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item pt-0 pb-4">
                  <div class="media">
                    <span class="fas fa-tags list-group-icon mr-3"></span>
                    <div class="media-body text-lh-sm">
                      <span class="d-block mb-1">Type(s) de massage proposés :</span>
                      <a href="#">
                        <% @masseur_profile.massage_types.each do |massage_type| %>
                          <br><%= massage_type %>
                        <% end %>
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- End List Group -->
            </div>
          </div>
          <!-- End Icon Blocks -->

          <hr class="my-7">

          <!-- Title -->
          <div id="reviews" class="mb-3">
            <h3 class="h4 mb-0">Avis <span class="text-muted font-size-1">(<%= rand(0..400)%>)</span></h3>
          </div>
          <!-- End Title -->

          <!-- Reviews -->
          <div>
            <!-- Author -->
            <div class="media mb-3">

              <div class="media-body align-self-center">
                <h4 class="d-inline-block mb-1">
                  <a class="d-block h6 mb-0" href="#">Russel Fernandes</a>
                </h4>
                <ul class="list-inline text-warning small mb-0">
                  <li class="list-inline-item mx-0">
                    <span class="fas fa-star"></span>
                  </li>
                  <li class="list-inline-item mx-0">
                    <span class="fas fa-star"></span>
                  </li>
                  <li class="list-inline-item mx-0">
                    <span class="fas fa-star"></span>
                  </li>
                  <li class="list-inline-item mx-0">
                    <span class="fas fa-star"></span>
                  </li>
                  <li class="list-inline-item mx-0">
                    <span class="fas fa-star text-warning"></span>
                  </li>
                </ul>
              </div>

              <div class="media-body text-right">
                <small class="d-block text-muted">3 hours ago.</small>
              </div>
            </div>
            <!-- End Author -->

            <p>At the end of the day, it's important to not let being busy distract us from having fun. Smiling, laughing, and hanging helps us work together to achieve this.</p>

            <!-- Likes/Reply -->
            <ul class="list-inline d-flex">
              <li class="list-inline-item">
                <a class="text-secondary" href="#">
                  17
                  <span class="far fa-thumbs-up ml-1"></span>
                </a>
              </li>
              <li class="list-inline-item ml-3">
                <a class="text-secondary" href="#">
                  0
                  <span class="far fa-thumbs-down ml-1"></span>
                </a>
              </li>
              <li class="list-inline-item ml-auto">
                <a class="text-secondary" href="#">
                  <span class="far fa-comments mr-1"></span>
                  Reply
                </a>
              </li>
            </ul>
            <!-- End Likes/Reply -->
          </div>
          <!-- End Reviews -->

          <hr class="my-7">

          <!-- Reviews -->
          <div class="mb-7">
            <!-- Author -->
            <div class="media mb-3">

              <div class="media-body align-self-center">
                <h4 class="d-inline-block mb-1">
                  <a class="d-block h6 mb-0" href="#">Elizabeth Lord</a>
                </h4>
                <ul class="list-inline text-warning small mb-0">
                  <li class="list-inline-item mx-0">
                    <span class="fas fa-star"></span>
                  </li>
                  <li class="list-inline-item mx-0">
                    <span class="fas fa-star"></span>
                  </li>
                  <li class="list-inline-item mx-0">
                    <span class="fas fa-star"></span>
                  </li>
                  <li class="list-inline-item mx-0">
                    <span class="fas fa-star"></span>
                  </li>
                  <li class="list-inline-item mx-0">
                    <span class="far fa-star text-warning"></span>
                  </li>
                </ul>
              </div>

              <div class="media-body text-right">
                <small class="d-block text-muted">1 day ago.</small>
              </div>
            </div>
            <!-- End Author -->

            <p>It's important to stay detail oriented with every project we tackle. Staying focused allows us to turn every project we complete into something we love. We strive to embrace and drive change in our industry which allows us to keep our clients relevant and ready to adapt.</p>

            <!-- Likes/Reply -->
            <ul class="list-inline d-flex">
              <li class="list-inline-item">
                <a class="text-secondary" href="#">
                  17
                  <span class="far fa-thumbs-up ml-1"></span>
                </a>
              </li>
              <li class="list-inline-item ml-3">
                <a class="text-secondary" href="#">
                  0
                  <span class="far fa-thumbs-down ml-1"></span>
                </a>
              </li>
              <li class="list-inline-item ml-auto">
                <a class="text-secondary" href="#">
                  <span class="far fa-comments mr-1"></span>
                  Reply
                </a>
              </li>
            </ul>
            <!-- End Likes/Reply -->
          </div>
          <!-- End Reviews -->

          <a class="btn btn-block btn-soft-primary transition-3d-hover" href="#">See More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Content Section -->
</main>
<!-- ========== END MAIN ========== -->
