<!-- ========== MAIN ========== -->
<main id="content" role="main">
  <!-- Breadcrumb Section -->
  <div class="bg-primary">
    <div class="container space-1">
      <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
        <div class="mb-3 mb-sm-0">
          <!-- Breadcrumb -->
          <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
            <li class="breadcrumb-item">
              <%= link_to "Accueil", root_path, class: "breadcrumb-link" %>
            </li>
            <li class="breadcrumb-item">
              <%= link_to "Mon Profil", 'javascript:;', class: "breadcrumb-link" %>
            </li>
          </ol>
          <!-- End Breadcrumb -->
        </div>

        <!-- Edit Profile -->
        <%= link_to "Editer mon profil", edit_masseur_profile_path, class: "btn btn-sm btn-soft-white transition-3d-hover" %>
        <!-- End Edit Profile -->
      </div>
    </div>
  </div>
  <!-- End Breadcrumb Section -->

  <!-- Content Section -->
  <div class="bg-light">
    <div class="container space-2">
      <div class="row">
        <div class="col-lg-3 mb-7 mb-lg-0">
          <!-- Profile Card -->
          <div class="card p-1 mb-4">
            <div class="card-body text-center">
              <div class="mb-3">
                <!-- Masseur Profile not complete -->
                <% if name_empty? %>
                  <p>Vous n'avez pas encore précisé votre nom.
                    <br/>Vous pouvez le faire via la rubrique 
                    <%= link_to "Editer mon profil", edit_masseur_profile_path %>
                  </p>
                <% else %>
                  <div class="mt-3">
                    <h1 class="h6 font-weight-medium"><%= full_name %></h1>
                    <small class="d-block text-muted">

                      <!-- Masseur has multiple massage types -->
                      <% if has_multiple_massage_types(current_masseur) or has_one_type %>
                        <span><%= display_his_types %></span>

                      <!-- Masseur has no massage type -->
                      <% else %>
                        <p>Veuillez <%= link_to "compléter", edit_masseur_profile_path %> cette information.</p>
                      <% end %>
                    </small>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <!-- End Profile Card -->

          <!-- Profile informations -->
          <div class="card mb-3">
            <div class="card-header pt-4 pb-3 px-0 mx-4">
              <h3 class="h6 mb-0">Profil</h3>
            </div>

            <div class="card-body pt-3 pb-4 px-4">
              <!-- Profile information -->
              <div class="media">
                <span class="fas fa-envelope list-group-icon mr-3"></span>
                <div class="media-body text-lh-sm">
                  <span class="d-block mb-1">Email:</span>
                  <span class="text-secondary"><%= @masseur_profile.masseur.email %></span>
                </div>
              </div>
              <!-- End Profile information -->

              <!-- Profile information -->
              <div class="media mt-4">
                <span class="fas fa-map-marker-alt list-group-icon mr-3"></span>
                <div class="media-body text-lh-sm">
                  <% if @masseur_profile.working_place == nil %>
                    <span class="d-block mb-0">Ville : </span>
                    <p>Veuillez <%= link_to "compléter", edit_masseur_profile_path %> cette information.</p>
                  <% else %>
                    <span class="d-block mb-0">Ville : <span class="text-secondary"> <%= @masseur_profile.working_place %></span></span>
                  <% end %>
                </div>
              </div>
            <!-- End Profile information -->
            </div>            
          </div>
          <!-- End Profile informations -->

          <!-- Availabilities  -->
          <div class="card mb-4">
            <div class="card-header pt-4 pb-3 px-0 mx-4">
              <h2 class="h6 mb-0">Disponibilité(s)</h2>
            </div>

            <div class="card-body pt-3 pb-4 px-4">
              <!-- Availability -->
              <% @masseur_profile.time_slots.each do |time_slot| %>
                  <div class="ml-3 mb-4 mt-2">
                    <span class="d-block text-dark"><%= time_slot %></span>
                  </div>
              <% end %>
              <!-- End Availability -->
            </div>
          </div>
          <!-- End availabilities  -->          

          <center class="mb-5">
            <%= link_to "Modifier mes informations", edit_masseur_profile_path %>
          </center>
        </div>

        <div class="col-lg-9">
          <!-- User Details -->
          <div class="mb-4">
            <h2 class="h4">Bonjour <%= full_name %></h2>
            <h1></h1>
          </div>
          <!-- End User Details -->

          <!-- Info -->
          <div class="row mb-4">
            <div class="col-md-2">
              <h6>Tarif :  <span class="badge badge-success ml-1"> <%= @masseur_profile.pricing %> €</span></h6>
            </div>
            <div class="col-md-8 text-content-justify">
              <p><span class="h6 text-dark">Description : </span><br/><%= @masseur_profile.description %></p>
            </div>
          </div>
          <!-- End Info -->

          <hr class="my-7">

          <!-- Title -->
          <div id="reviews" class="mb-3">
            <h2 class="h4 mb-0">Évènements 
              <span class="text-muted font-size-1">
                (quantité) <!-- in erb display masseur events.count in parenthesis (good front) -->
              </span>
            </h2>
          </div>
          <!-- End Title -->

          <hr class="my-7">

          <p>évènement</p>

          <hr class="my-7">

          <p>évènement</p>

          <hr class="my-7">
        </div>
      </div>
    </div>
  </div>
  <!-- End Content Section -->
</main>
<!-- ========== END MAIN ========== -->
