<h1>Reliev</h1>
<p> Bienvenue sur Reliev, nous permettons aux entreprises de donner accès à un service de bien être au travail à ses employés. </p>

<p>Déjà inscrit ?</p>
<button> <%= link_to "Se connecter en tant qu'entreprise", company_session_path %></button>
<button> <%= link_to "Se connecter en tant que masseur", masseur_session_path %></button>
<button> <%= link_to "Se connecter en tant qu'employé", employee_session_path %></button>
<p>Sinon</p>
<button> <%= link_to "S'inscrire en tant qu'entreprise ", new_company_registration_path %></button>
<button> <%= link_to "S'inscrire en tant que masseur ", new_masseur_registration_path %></button>
<button> <%= link_to "S'inscrire en tant qu'employé", new_employee_registration_path %></button>
<p>Le bouton "S'inscrire en tant qu'employé" disparaitra par la suite pour laisser place à un lien d'invitation qu'ils recevront par mail via leur entreprise</p>
