<main id="content" role="main">
  <!-- Breadcrumb Section -->
  <div class="bg-primary">
    <div class="container space-top-1 pb-3">
      <div class="row">
        <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
          <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
            <!-- Breadcrumb -->
            <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
              <li class="breadcrumb-item"><%= link_to "Acceuil", root_path, class: "breadcrumb-link" %></li>
              <li class="breadcrumb-item"><%= link_to "Profil", company_profile_path, class: "breadcrumb-link" %></li>
              <li class="breadcrumb-item active" aria-current="page">Compléter son profil</li>
            </ol>
            <!-- End Breadcrumb -->
          </div>
        </div>

        <div class="col-lg-7 order-lg-1">
          <!-- User Info -->
          <div class="media d-block d-sm-flex align-items-sm-center">
            <div class="u-lg-avatar position-relative mb-3 mb-sm-0 mr-3">
              <%= image_tag "https://png.pngtree.com/svg/20170307/c02483909c.png", class:"img-fluid rounded-circle", alt:"Default Company Profile Picture" %>
            </div>
            <div class="media-body">
              <h1 class="h3 text-white font-weight-medium mb-1">Complétez ou modifiez le profil</h1>
              <span class="d-block text-white"><%= @company_profile.company.email %></span>
            </div>
          </div>
          <!-- End User Info -->
          <%= link_to "Voir le profil de mon entreprise", company_profile_path, class: "btn btn-sm btn-soft-white transition-3d-hover mt-4 mb-2" %>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light">
    <div class="container space-2">
      <h3 class="mb-5">Complétez le profil de votre entreprise afin de pouvoir effectuer une réservation.</h3>
      <!-- Personal Info Form -->
      <%= form_with model: @company_profile, class: "js-validate", local: true do |f| %>
      <%= render partial: "layouts/error", locals: { resource: @company_profile } %>
        <div class="row">
          <!-- Input -->
          <div class="col-sm-6 mb-3">
            <div class="js-form-message">
              <label id="nameLabel" class="form-label">
                Nom de l'entreprise
                <span class="text-danger">*</span>
              </label>

              <div class="form-group">
                <%= f.text_field :name, class: 'form-control', placeholder: 'Nom de l\'entreprise', value: @company_profile.name %>
                <small class="form-text text-muted">Information affichée sur votre profil public et autres lieux.</small>
              </div>
            </div>
          </div>

          <div class="col-sm-6 mb-3">
            <div class="js-form-message">
              <label id="nameLabel" class="form-label">
                Secteur d'activité
                <span class="text-danger">*</span>
              </label>

              <div class="form-group">
                <%= f.text_field :business_line, class: 'form-control', placeholder: 'Secteur d\'activité', value: @company_profile.business_line %>
                <small class="form-text text-muted">Information affichée sur votre profil public et autres lieux.</small>
              </div>
            </div>
          </div>

           <div class="col-sm-6 mb-3">
            <div class="js-form-message">
              <label id="nameLabel" class="form-label">
                Ville
                <span class="text-danger">*</span>
              </label>

              <div class="form-group">
                <%= f.text_field :city, class: 'form-control', placeholder: 'Ville', value: @company_profile.city %>
                <small class="form-text text-muted">Information affichée sur votre profil public et autres lieux.</small>
              </div>
            </div>
          </div>

           <div class="col-sm-6 mb-3">
            <div class="js-form-message">
              <label id="nameLabel" class="form-label">
                Numéro de téléphone
                <span class="text-danger">*</span>
              </label>

              <div class="form-group">
                <%= f.text_field :phone_number, class: 'form-control', placeholder: 'Numéro de téléphone', value: @company_profile.phone_number %>
                <small class="form-text text-muted">Information affichée sur votre profil public et autres lieux.</small>
              </div>
            </div>
          </div>
          <!-- End Input -->
        </div>
        <%= f.submit "Enregistrer", class: "btn btn-sm btn-primary transition-3d-hover" %>
      <% end %>
    </div>
  </div>
</main>