<!-- ========== MAIN ========== -->
<main id="content" role="main">
  <!-- Breadcrumb Section -->
  <div class="bg-primary">
    <div class="container space-1">
      <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
        <div class="mb-3 mb-sm-0">
          <!-- Breadcrumb -->
          <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
            <li class="breadcrumb-item">
              <%= link_to "Accueil", root_path, class: "breadcrumb-link" %>
            </li>
            <li class="breadcrumb-item">
              <%= link_to "Mon Profil", 'javascript:;', class: "breadcrumb-link" %>
            </li>
          </ol>
          <!-- End Breadcrumb -->
        </div>

        <!-- Profile buttons -->
        <div>
          <!-- Edit Profile -->
          <%= link_to "Editer mon profil", edit_company_profile_path, class: "btn btn-sm btn-soft-white transition-3d-hover" %>
          <!-- End Edit Profile -->

          <!-- Log out -->
          <%= link_to "Se déconnecter", destroy_company_session_path, method: :delete, class: "btn btn-sm btn-soft-white transition-3d-hover" %>
          <!-- End log out -->
        </div>
        <!-- End Profile buttons -->
      </div>
    </div>
  </div>
  <!-- End Breadcrumb Section -->

  <!-- Content Section -->
  <div class="bg-light">
    <div class="container space-2">
      <div class="row">
        <div class="col-lg-3 mb-7 mb-lg-0">
          <!-- Profile Card -->
          <div class="card p-1 mb-4">
            <div class="card-body text-center">
              <div class="mb-3">
              </div>

              <div class="mb-3">
                <center>
                  <div class="u-lg-avatar position-relative mb-3 mb-sm-0 mr-3">
                    <%= image_tag "https://png.pngtree.com/svg/20170307/c02483909c.png", class:"img-fluid rounded-circle ml-2", alt:"Default Company Profile Picture" %>
                  </div>    
                  <h1 class="h6 font-weight-medium mb-0"><%= @company_profile.name %></h1>
                  <small class="d-block text-muted"><%= @company_profile.business_line %></small>
                </center>
              </div>
            </div>
          </div>
          <!-- End Profile Card -->

          <!-- Profile informations -->
          <div class="card mb-4">
            <div class="card-header pt-4 pb-3 px-0 mx-4">
              <h3 class="h6 mb-0">Profil</h3>
            </div>

            <div class="card-body pt-3 pb-4 px-4">
              <!-- Profile information -->
              <div class="media">
                <span class="fas fa-envelope list-group-icon mr-3"></span>
                <div class="media-body text-lh-sm">
                  <span class="d-block mb-1">Email:</span>
                  <%= @company_profile.company.email %>
                </div>
              </div>
              <!-- End Profile information -->

              <!-- Profile information -->
              <div class="media mt-4">
                <span class="fas fa-map-marker-alt list-group-icon mr-3"></span>
                <div class="media-body text-lh-sm">
                  <span class="d-block mb-0">Ville:</span>
                  <% if @company_profile.city == nil %>
                    <p>Veuillez <%= link_to "compléter", edit_company_profile_path %> cette information.</p>
                  <% else %>
                    <%= @company_profile.city %>
                  <% end %>
                </div>
              </div>

              <div class="media mt-1">
                <span class="fas fa-mobile-alt list-group-icon mr-3"></span>
                <div class="media-body text-lh-sm">
                  <span class="d-block mb-1">Téléphone:</span>
                  <% if @company_profile.phone_number == nil %>
                    <p>Veuillez <%= link_to "compléter", edit_company_profile_path %> cette information.</p>
                  <% else %>
                    <%= @company_profile.phone_number %></a>
                  <% end %>
                </div>
              </div>
            <!-- End Profile information -->
            </div>            
          </div>
          <!-- End Profile informations -->
          <center>
            <%= link_to "Editer mon profil", edit_company_profile_path %>
          </center>
        </div>

        <!-- Company actions -->
        <div class="col-lg-9">
          <!-- Info -->
          <div class="mb-4">
            <% if @company_profile.name == nil %>
              <p>Vous n'avez pas encore précisé le nom de votre entreprise. <br/>Vous pouvez le faire via la rubrique 
                <%= link_to "Editer mon profil", edit_company_profile_path %>
              </p>
            <% else %>
              <h4>Espace entreprise</h4>
            <% end %>
          </div>
          <!-- End Info -->

          <hr class="my-7">

          <!-- Invite employee -->
          <h2 class="h4">Inviter un salarié : </h2>
          <p>Inviter un salarié de votre entreprise afin que celui-ci puisse s'inscrire et réserver une séance de massage.</p>
          <%= form_with(url: "/send_invite_to_employee", method: "patch", local: true) do %>
            <%= label_tag(:q, "Email:") %>
            <div class="form-row align-items-center">
              <div class="col-sm-5 my-1">
                <label class="sr-only" for="inlineFormInputName">Name</label>
                <%= text_field_tag(:email, "", class: "form-control") %>
              </div>
              <div class="col-auto my-1">
                <%= submit_tag "Envoyer l'invitation", class: "btn btn-success btn-sm mt-0" %>
              </div>
            </div>
          <% end %>
          <!-- end invite employee -->

          <hr class="my-7">

          <!-- Company events -->
          <h2 class="h4">Mes évènements : </h2>
          <div class="row">
            <% @events.each do |event|%>
            <div class="card w-100 mb-3">
              <div class="card-body">
                <h5 class="card-text"><%= event.title %></h5>
                <blockquote class="blockquote mb-0">
                <footer class="blockquote-footer">
                    Nombre de participants maximum : <%= event.maximum_number_of_participation %><br/></p>
                    <p><small><cite title="Source Title"><%= event.created_at.strftime("A été crée le : %m/%d/%Y") %></cite></small>
                    <p><%= link_to "Editer mon évènement", edit_event_path(event), class: "btn btn-primary ml-2" %></p>
                </footer>
                </blockquote>
              </div>
            </div>
            <% end %>
          </div>
          <hr class="my-7">
          <!-- End Company events -->

        </div>
        <!-- end company actions -->
      </div>
    </div>
  </div>
  <!-- End Content Section -->
</main>
<!-- ========== END MAIN ========== -->