<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
        <br><br><br>
        <%= form_for [@company, @event], url: company_events_path(current_company, masseur_profile_id: @masseur), method: :post do |f| %>
        <%= render partial: "layouts/error", locals: { resource: @event } %>
        <h1 class="h3 mb-3 font-weight-normal text-center">Créer un évènement avec :<br> <strong><%= full_name(@masseur) %></strong></h1>
            <div class="field mt-5">
                <%= f.label :titre, "Intitulé de l'événement*", class:"form-label" %>
                <%= f.text_field :title, class: "form-control", placeholder: "Titre" %>
            </div> 
            <div class="field mt-5">
                <%= f.label :description, "Description*", class:"form-label" %>
                <%= f.text_area :description, class: "form-control", placeholder: "Description (20 caractères minimum)" %>
            </div>

             <div class="field mt-5">
                <%= f.label :nombre_de_participants, "Nombre maximum de participants*", class:"form-label" %>
                <%= f.text_field :maximum_number_of_participation, class: "form-control", placeholder: "Nombre maximum de participants" %>
            </div>

            <div class="row mt-5">
                <div class="col-sm-6 mb-3">
                    <div class="js-form-message">
                    <div class="dropdown">
                        <%= f.label :nombre_de_participants, "Choisissez le créneau désiré*", class:"form-label" %>     
                        <div class="form-group">
                        <div>
                            <% @masseur.time_slots.each do |time_slot| %>                        
                                <%= f.check_box(:moment, {:multiple => true}, time_slot, nil) %> <small><%= time_slot %></small><br>
                            <% end %>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        
            <div class="actions mt-5">
                <%= f.submit "Créer", class: "btn btn-lg btn-primary btn-block" %>
            </div>               
        <% end %>
    </div>
  </div>
</div>
