<!-- ========== MAIN ========== -->
<main id="content" role="main">
  <!-- Form -->
  <div class="d-flex align-items-center position-relative height-lg-100vh">
    <div class="col-lg-5 col-xl-4 d-none d-lg-flex align-items-center gradient-half-primary-v1 height-lg-100vh px-0">
      <div class="w-100 p-5">
      </div>
    </div>
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 space-3 space-lg-0">

            <!-- Title -->
            <div class="mb-7">
              <h1 class="h3 text-primary font-weight-normal mb-0">Bienvenu sur <span class="font-weight-semi-bold">Reliev</span></h1>
              <p>Quand travailler est un plaisir.</p>
            </div>
            <!-- End Title -->

            <!-- Form Group -->
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="js-form-message form-group">
              <div class="field">
                <%= f.label :email, class: "form-label"%>
                <%= f.email_field :email, class: "form-control", placeholder: "Adresse email", autofocus: true, autocomplete: "email" %>
              </div>
            </div>
            <!-- End Form Group -->

            <!-- Form Group -->
            <div class="js-form-message form-group">
              <div class="field">
                <%= f.label :mot_de_passe, class: "form-label" %>
                <%= f.password_field :mot_de_passe, class: "form-control", placeholder: "********", autocomplete: "new-password" %>
              </div>
            </div>
            <!-- End Form Group -->

               <% if devise_mapping.rememberable? %>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :se_souvenir_de_moi, class: "small" %>
                  </div>
                <% end %>

            <!-- Button -->
              <div class="row align-items-center mb-5">
                <div class="col-5 col-sm-6">
                  <span class="small text-muted">Pas encore de compte?</span>
                  <%= link_to "S'inscrire", new_masseur_registration_path, class: "small" %><br>
                  <%= link_to "Mot de passe oublié?", new_masseur_password_path, class: "small" %>
                </div>
                <div class="col-7 col-sm-6 text-right">
                  <div class="actions">
                    <%= f.submit "Se connecter", class: "btn btn-primary transition-3d-hover" %>
                  </div>
                </div>
              </div>
            <!-- End Button -->

            <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- End Form -->
</main>
<!-- ========== END MAIN ========== -->
