<main>
  <!-- Lists -->
  <div class="border-bottom">
    <div class="container space-2">
      <div class="row justify-content-md-between col-lg-12">

        <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
          <h4 class="h6 font-weight-semi-bold">Reliev</h4>
          <!-- List Group -->
          <ul class="list-group list-group-flush list-group-borderless mb-0">
            <li><%= link_to "À Propos", about_path, class: "list-group-item list-group-item-action" %></li>
            <li><%= link_to "Contact", contact_path, class: "list-group-item list-group-item-action" %></li>
          </ul>
          <!-- End List Group -->
        </div>

        <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
          <h4 class="h6 font-weight-semi-bold">Mon Compte</h4>
          <!-- List Group -->
          <ul class="list-group list-group-flush list-group-borderless mb-0">
            <li><%= link_to "Entreprise", company_session_path, class: "list-group-item list-group-item-action" %></li>
            <li><%= link_to "Masseur", masseur_session_path, class: "list-group-item list-group-item-action" %></li>
            <li><%= link_to "Salarié", employee_session_path, class: "list-group-item list-group-item-action" %></li>
          </ul>
          <!-- End List Group -->
        </div>

        <div class="col-sm-4 col-lg-3 mb-4 mb-lg-0 bg-light">
          <p class="lead text-secondary font-weight-normal text-content-justify mt-3">"Un confort physique optimal au travail comme dans la vie"</p>
        </div>
      </div>
    </div>
  </div>
</main>
