  <!-- ========== FOOTER ========== -->
<footer class="footer page-footer font-small pt-5" id="footer">
    <!-- Lists -->
    <div class="border-bottom">
      <div class="container space-2">
        <div class="row justify-content-md-between">
          <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
            <h4 class="h6 font-weight-semi-bold">Reliev</h4>

            <!-- List Group -->
            <ul class="list-group list-group-flush list-group-borderless mb-0">
              <li><%= link_to "À Propos", about_path, class: "list-group-item list-group-item-action" %></li>
              <li><%= link_to "Termes et Contitions", 'javascript:;', class: "list-group-item list-group-item-action" %></li>
              <li><%= link_to "Contact", contact_path, class: "list-group-item list-group-item-action" %></li>
            </ul>
            <!-- End List Group -->
          </div>

          <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
            <h4 class="h6 font-weight-semi-bold">Mon Compte</h4>

            <!-- List Group -->
            <ul class="list-group list-group-flush list-group-borderless mb-0">
              <li><%= link_to "Entreprise", company_session_path, class: "list-group-item list-group-item-action" %></li>
              <li><%= link_to "Masseur", masseur_session_path, class: "list-group-item list-group-item-action" %></li>
              <li><%= link_to "Salarié", employee_session_path, class: "list-group-item list-group-item-action" %></li>
            </ul>
            <!-- End List Group -->
          </div>

          <div class="col-md-6 col-lg-4">
            <h4 class="h6 font-weight-semi-bold mb-4">Retrouvez nous sur vos appareils</h4>

            <!-- Button -->
            <button type="button" class="btn btn-xs btn-dark btn-wide transition-3d-hover text-left mb-2 mr-1">
              <span class="media align-items-center">
                <span class="fab fa-apple fa-2x mr-3"></span>
                <span class="media-body">
                  <span class="d-block">Télécharger sur </span>
                  <strong class="font-size-1">App Store</strong>
                </span>
              </span>
            </button>
            <!-- End Button -->

            <!-- Button -->
            <button type="button" class="btn btn-xs btn-dark btn-wide transition-3d-hover text-left mb-2">
              <span class="media align-items-center">
                <span class="fab fa-google-play fa-2x mr-3"></span>
                <span class="media-body">
                  <span class="d-block">Télécharger sur </span>
                  <strong class="font-size-1">Google Play</strong>
                </span>
              </span>
            </button>
            <!-- End Button -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Lists -->

    <!-- Copyright -->
    <div class="container text-center space-1">
      <!-- Logo -->
      <a class="d-inline-flex align-items-center mb-2" href="index.html" aria-label="Front">
        <span class="brand brand-primary">Reliev</span>
      </a>
      <!-- End Logo -->
      <p class="small text-muted">&copy; Reliev. 2020 - All rights reserved.</p>
    </div>
    <!-- End Copyright -->
  </footer>
  <!-- ========== END FOOTER ========== -->
