<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--abs-top-md u-header--bg-transparent u-header--show-hide-md"
  data-header-fix-moment="500"
  data-header-fix-effect="slide">

  <div class="u-header__section">
    <!-- Topbar -->
    <div class="container u-header__hide-content pt-2">
      <div class="d-flex align-items-center">
         <div class="ml-auto">
           <!-- Links -->
           <div class="d-none d-sm-inline-block ml-sm-auto">
             <ul class="list-inline mb-0">
               <li class="list-inline-item mr-0">
                 <a class="u-header__navbar-link" href="">À propos</a>
               </li>
               <li class="list-inline-item mr-0">
                 <a class="u-header__navbar-link" href="">Contact</a>
               </li>
             </ul>
           </div>
           <!-- End Links -->
         </div>
      </div>
    </div>
  <!-- End Topbar -->

  <div id="logoAndNav" class="container">
    <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
        <!-- Logo -->
          <%= link_to root_path, class: "navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-text" do %>
            <span class="u-header__navbar-brand-text">Reliev</span>
          <% end %>
        <!-- End Logo -->

        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
          <ul class="navbar-nav u-header__navbar-nav">
            <!-- Masseurs panel -->
            <li class="">
              <%= link_to "Masseurs", root_path, class: "nav-link u-header__nav-link u-header__nav-link-toggle" %>
            </li>
            <!-- End Masseurs panel -->
          
            <!-- Employee account -->
            <li class="nav-item u-header__nav-last-item">
              <%= link_to "Compte salarié", employee_session_path, class: "btn btn-sm btn-primary transition-3d-hover" %>
            </li>
            <!-- End Employee account -->

            <!-- Masseur account up-->
            <li class="nav-item u-header__nav-last-item">
              <%= link_to "Compte Masseur", masseur_session_path, class: "btn btn-sm btn-primary transition-3d-hover" %>
            </li>
            <!-- End Compte Masseur -->            
          
            <!-- Company account -->
            <li class="nav-item u-header__nav-last-item">
              <%= link_to "Compte entreprise", company_session_path, class: "btn btn-sm btn-primary transition-3d-hover" %>
            </li>
            <!-- End Company account -->
          </ul>
        </div>
        <!-- End Navigation -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->
