<!DOCTYPE html>
<html>
  <head>
    <!-- Default -->
    <title>Reliev | Le bien-être au travail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 

    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Small icon -->
    <%= favicon_link_tag asset_path('icon-reliev-32x32.png') %>

    <!-- FontAwesome Script -->
    <script src="https://kit.fontawesome.com/5179dfb87c.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <div id="page-container">
      <%= render 'layouts/header' %>
      <div id="content-wrap">
        <% if notice %>
          <div class="alert alert-success text-center alert-dismissible fade show mb-0" id="hide-alert" role="alert">
            <span class="container ml-md-8 text-center"><%= notice %></span>
            <button type="button" class="close mr-md-6" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %> 
        <% if alert %>
          <div class="alert alert-danger alert-dismissible alert-dismissible fade show text-center mb-0" id="hide-alert" role="alert">
            <span class="container ml-md-8 text-center"><%= alert %></span>
            <button type="button" class="close mr-md-6" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>


    <!-- Bootstrap CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
